<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function train() {
            console.log("train");
            const symbol = $("#train_symbol").val();
            console.log($("#train_symbol").val());
            jQuery.post("/train", {symbol: symbol}).done(function (res) {
                console.log(res);
                let response = jQuery.parseJSON(res);
                $("#logs").find('tbody').append("<tr>\n" +
                    "<td> " + "Train" + "</td>\n" +
                    "<td> " + response.body + "</td>\n" +
                    "<td> " + response.date +  " </td>\n" +
                    "<td> " + response.status +  "</td>\n" +
                    "        </tr>");
            });
        }


        function decision() {
            console.log("decision");
            const symbol = $("#decision_symbol").val();
            console.log($("#decision_symbol").val());
            jQuery.post("/decision", {symbol: symbol}).done(function (res) {
                console.log(res);
                let response = jQuery.parseJSON(res);
                $("#logs").find('tbody').append("<tr>\n" +
                    "<td> " + "Decision" + "</td>\n" +
                    "<td> " + response.body + "</td>\n" +
                    "<td> " + response.date +  " </td>\n" +
                    "<td> " + response.status +  "</td>\n" +
                    "        </tr>");
            });
        }


        function list() {
            console.log("list");
            jQuery.getJSON("/list", function (res) {
                {#$("#response").html($("#response").html() + "<br\>" + "List: " + res);#}
                console.log(res);
                let response = jQuery.parseJSON(res);
                $("#logs").find('tbody').append("<tr>\n" +
                    "<td> " + "List" + "</td>\n" +
                    "<td> " + response.body + "</td>\n" +
                    "<td> " + response.date +  " </td>\n" +
                    "<td> " + response.status +  "</td>\n" +
                    "        </tr>");
            });
        }
        function clearTable(){
            $("#logs tbody tr").remove();
        }
    </script>
</head>
<body>
<div class="container" style="margin-bottom: 3%; ">
    <h1 style="text-align: center"> Stock market </h1>
    <div class="row align-items-center" style="margin-top: 3%">
        <div class="col-sm text-center">
            Train
            <div class="form-group">
                Enter currency symbol:
                <input id="train_symbol" type="text" class="form-control">
                <button class="btn btn-primary" onclick="train()" style="margin-top:10px">Train</button>
            </div>
        </div>

        <div class="col-sm text-center">
            Decision
            <div class="form-group">
                Enter currency symbol:
                <input id="decision_symbol" type="text" class="form-control">
                <button class="btn btn-primary" onclick="decision()" style="margin-top:10px">Get decision</button>
            </div>
        </div>


        <div class="col-sm text-center">
            <button class="btn btn-primary" onclick="list()">List trained models</button>
        </div>
    </div>
</div>
<div style="text-align: center; padding-bottom: 5px">
    <button type="button" class="btn btn-danger" onclick="clearTable()"> Clear</button>
</div>
<div style="margin-left:10%; margin-right: 10%">
    <table id="logs" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Body</th>
            <th scope="col">Time</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</body>
</html>